###############################################################################
# rust
###############################################################################
target/
Cargo.lock

###############################################################################
# Vagrant
###############################################################################
.vagrant

###############################################################################
# vim
###############################################################################
*.sw[op]
