###############################################################################
# rust
###############################################################################
target/

###############################################################################
# Vagrant
###############################################################################
.vagrant

###############################################################################
# vim
###############################################################################
*.sw[op]
